

/*CONTENT*/

.phone-btn {
    /*pointer-events: none;*/
}

/* FACE */

#face .photo_lg {
    display: block;
}

#face .wp-block-columns {
    padding-bottom: 0;
}


#face .social-block {
    flex-direction: row;
}


#face .phone-btn {
    width: 230px;
}

#face h1,
#face h3 {
    line-height: 1.3;
    text-align: left;
}

/* ABOUT_US */

#about_us {
    display: block;
}

.dark-mode #about_us .wp-block-group__inner-container .wp-block-columns {
    background: transparent!important;
}

.dark-mode #about_us .wp-block-group__inner-container .wp-block-column {
    background: var(--dark_blue)!important;
}

#about_us h3 {
    padding: 5px 0 20px;
    font-weight: 400;
}

#about_us p {
    font-weight: 400;
}

#about_us .wp-block-group,
#about_us .wp-block-columns {
    gap: 15px;
}

/* ABOUT_US_MOB */

#about_us_mob  {
    display: none;
}

/* RESULTS */

#results .wp-block-columns.has-background {
    flex-direction: row-reverse;
}

#results .wp-block-column:last-child > h2,
#results .wp-block-column:last-child p {
    width: 80%;
}


#results .experience {
    margin-top: 35px;
    margin-left: -35px;
}

#results .customers {
    margin-left: -35px;
}

#results .contacts-wrapper {
    flex-direction: column;
    align-content: flex-start;
}


/* SLIDER */

/* FOOTER */

.footer-contacts {
    flex-direction: row;
    gap: 20px;
}

.footer-container .button-grow {
    order: 1;
}