
section {
    padding: 20px 0;
}

/*HEADER*/

.brand {
    padding-top: 0;
}

.menu-container {
    align-items: center;
}

.toggle-nav {
    display: none !important;
}

.nav-block {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    height: 100%;
    top: 0;
}

.nav-block a {
    font-size: 18px;
}

body.admin-bar .nav-block {
    top: 0;
}

.menu-menu-container {
    padding-top: 0;
}

.menu-menu-container ul {
    flex-direction: row;
}

.menu-menu-container li {
    font-size: 16px;
    margin: 0 10px;
}

.menu-menu-container li a:hover {
    font-weight: 700;
}

.header-contacts {
    display: flex;
    align-items: center;
    padding: 0;
}

.phone-btn {
    margin: 0 0 0 30px
}

#site-header .social-block {
    gap: 20px;
}

#site-header .social-block {
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
}


/*CONTENT*/

#face .has-background {
    padding-right: 74px;
    padding-bottom: 0;
}

#face h3 {
    line-height: 66px;
}

#face h4 {
    line-height: 52px;
    padding-top: 20px;
}

#face h3,
#face h4 {
    line-height: 1.5;
}


/* RESULTS */

.wp-block-getwid-counter__number,
.wp-block-getwid-progress-bar__percent {
    font-size: 64px;
}

#results .wp-block-column.is-layout-flow p {
    padding: 15px 0 15px;
}

#results .contacts-wrapper {
    align-content: center;
    flex-direction: row;
    gap: 20px;
}

#results .contacts {
    order: 1;
    gap: 20px;
}

#results .phone-btn {
    margin: 0;
}

/* SERVICES */


/* Blog page */

.blog-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* POST SLIDER */

.slider-wrapper {
    padding: 0 20px;
}

.slick-slide{
    padding-bottom: 0;
    margin: 0 10px;
}

.slider-main .slick-arrow.slick-next,
.slider-main .slick-arrow.slick-prev {
    top: -60px;
    bottom: auto;
}

.slider-main .slick-arrow.slick-next {
    right: 17px;
}

.slider-main .slick-arrow.slick-prev {
    right: 68px;
    left: auto;
}


/* Contacts inf*/

#contactsInf .wp-block-getwid-map .wp-block-getwid-map__container {
    height: 600px !important;
}

/* Footer */

.footer-inf {
    width: 100%;
}

/* 404 page */
.accountant-404 p {
    text-align: center;
    text-indent: 0;
}

.accountant-404 .accountant-404--home {
    padding: 50px 0;
}