/*!* Main style features*!*/

section {
    padding: 25px 0;
    scroll-margin: 85px;
}

h1, h2, h3, h4, h5, h6, span, p, a {
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
    font-style: normal;
    text-decoration: none;
}

h1 {
    font-size: clamp(1.6875rem, 1.2345rem + 2.2651vw, 3.375rem);
}

h2 {
    font-size: clamp(1.4375rem, 1.2194rem + 1.0906vw, 2.25rem);
}

h3 {
    font-size: clamp(1.1875rem, 1.1036rem + 0.4195vw, 1.5rem);
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.81rem;
}

h6 {
    font-size: 0.6rem;
}

p, a  {
    font-size: clamp(0.875rem, 0.8414rem + 0.1678vw, 1rem);
}

.full-width {
    width: 100%;
}

.container,
section .wp-block-group__inner-container {
    /*max-width: 1512px;*/
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp-block-columns {
    margin-bottom: 0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-grow {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.button-grow:hover {
    transform: scale(1.1);
}

.dark-mode .wp-block-group__inner-container .wp-block-columns {
    background: var(--dark_blue)!important;
}

/*HEADER*/

.dark-theme {
    display: none;
}

.header-wrapper.header-anime {
    background: var(--white);
}

.dark-mode .header-wrapper.header-anime {
    background: var(--dark_desaturated_blue);
}

.dark-mode .light-theme {
    display: none;
}

.dark-mode .dark-theme {
    display: block;
}

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.header-wrapper {
    box-shadow: 0 7px 12px -8px #aeaeae;
    background: rgba(250, 250, 250);
    width: 100%;
    margin: 0 auto;
    transition: all 1s ease-out;
}

.dark-mode .header-wrapper {
    background: var(--dark_blue);
    box-shadow: 0 7px 12px -8px var(--black);
}



#site-header .container {
    height: 85px;
}

.site-logo {
    padding-top: 10px;
}

.site-logo img {
    height: 70px;
    width: auto;
}

.dark-mode .site-logo img,
.dark-mode .face-mob img,
.dark-mode #about_us img,
.dark-mode .photo_lg img {
    -webkit-filter: drop-shadow(1px 1px 3px var(--moderate_cyan));
    filter: drop-shadow(1px 1px 3px var(--moderate_cyan));
}

.dark-mode #about_us .social-block__img-shadow img,
.dark-mode .site-footer .site-logo img {
    -webkit-filter: none;
    filter: none;
}

.brand, .social-block {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-dark-mode-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 75px;
}

#checkboxInput {
    display: none;
}

.btn-dark-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25px;
    height: 66px;
    background-color: var(--very_dark_grayish_blue);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.btn-dark-mode::after {
    content: "";
    position: absolute;
    height: 33px;
    width: 33px;
    top: 0;
    background-color: var(--moderate_cyan);
    background-image: url("../image/light-bulb.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition-duration: .2s;
    border: 2px solid var(--very_dark_grayish_blue);
}

#checkboxInput:checked+.btn-dark-mode::after {
    transform: translateY(100%);
    transition-duration: .2s;
    background-image: url("../image/light-bulb-on.svg");
    background-color: var(--white);
    border: 2px solid var(--black);
}
/* Switch background change */
#checkboxInput:checked+.btn-dark-mode {
    background-color: var(--black);
    transition-duration: .2s;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.toggle-nav {
    position: absolute;
    right: 30px;
    top: 23px;
    padding: 10px 20px;
    display: block !important;
    color: #E62337;
    transition: color linear 0.15s;
}

body.admin-bar .toggle-nav {
    top: 28px;
}

.toggle-nav span{
    position: absolute;
    background-color: var(--black);
    border-radius: 10px;
    right: 0;
    width: 75%;
    height: 5px;
    transition: all 0.3s ease 0s;
}

.toggle-nav__first {
    top: 10px;
}

.toggle-nav__second {
    top: 30px;
}

.toggle-nav::before,
.toggle-nav::after {
    content: '';
    background-color: var(--black);
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.dark-mode .toggle-nav::before,
.dark-mode .toggle-nav::after,
.dark-mode .toggle-nav span {
    background-color: var(--moderate_cyan);
}

.toggle-nav::before{
    top: 0;
}
.toggle-nav::after{
    bottom: -5px;
}
.toggle-nav.open span{
    width: 0;
    transition: width 0s;
}
.toggle-nav.open::before{
    transform: rotate(45deg);
    top: 11px;
}
.toggle-nav.open::after{
    transform: rotate(-45deg);
    bottom: 4px;
}

.toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #E62337;
}

.nav-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
    background: var(--white);
    overflow: hidden;
    transition: height 1s;
}

.dark-mode .nav-block {
    background: var(--dark_blue);
}

.nav-block.open {
    height: 100vh;
    padding-top: 80px;
}

.menu-menu-container {
    padding-top: 30px;
    padding-left: 20px;
}

.menu-menu-container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: inherit;
    padding: 0;
}

.menu-menu-container li {
    display: block;
    float: none;
    padding: 10px 0;
}

.menu-menu-container a {
    color: var(--black);
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    white-space: nowrap;
}

.dark-mode .menu-menu-container a {
    color: var(--moderate_cyan);
}

.phone-btn {
    display: flex;
    background: var(--black);
    width: 230px;
    height: 52px;
    border-radius: 10px;
    margin: 10px auto 0 auto;
}

.phone-btn a {
    color: var(--white);
    margin: auto;
}

.dark-mode .phone-btn a {
    color: var(--moderate_cyan);
}

#site-header .social-block {
    padding-top: 30px;
}

.social-block {
    gap: 34px;
    padding: 10px;
}

.social-block a {
    margin: 0;
    line-height: inherit;
}

.header-contacts {
    padding-top: 70px;
}

.footer-container .social-block {
    gap: 14px;
    padding-left: 0;
}


/*CONTENT*/


.site-content {
    padding-top: 85px;
}

.wp-block-group__inner-container .has-background {
    padding: 20px;
    border-radius: 20px;
}

/* ABOUT_US */

#about_us .wp-block-getwid-image-box {
    display: none;
}

#about_us .photo_lg {
    display: none;
}

#about_us img {
    margin: 0 auto;
}


#about_us .wp-block-image {
    margin-bottom: 0;
    max-width: 100%;
    height: auto;
}

#about_us .wp-block-columns.has-background {
    gap: 0;
}

#about_us .face-mob {
    display: block;
}

#about_us .face-mob img {
    height: 240px;
}

#about_us .social-block {
    flex-direction: column;
}

#about_us .phone-btn {
    width: 100%;
}

#about_us h3 {
    line-height: 1;
    text-align: center;
}

#faq_section .accordion-item,
#about_us .wp-block-group__inner-container > .wp-block-columns,
#results .wp-block-group__inner-container > div,
#services .wp-block-group__inner-container > div,
#blog .slick-slide .slider-item,
.slick-slide.slider-item,
.blog-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

#about_us .wp-block-getwid-content-slider-slide__wrapper {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 20px 0;
    display: flex;
    gap: 15px;
}

.dark-mode #about_us .wp-block-getwid-content-slider-slide__wrapper {
    background: var(--dark_blue);
}


#about_us h3 {
    padding: 5px 0 20px;
    font-weight: 400;
}

#about_us p {
    font-weight: 400;
    line-height: 30px;
    width: fit-content;
}

#about_us .slick-dots {
    height: 50px;
}

#about_us .slick-next,
#about_us .slick-prev
{
    top: auto;
    bottom: 0;
    transform: none;
    width: 42px;
    height: 42px;
}

#about_us .slick-next {
    right: 35px;
}

#about_us .slick-prev {
    left: 15px;
}

#about_us .slick-next:before,
#about_us .slick-prev:before
{
    font-size: 40px;
    opacity: 1;
}

#about_us .slick-next.slick-disabled:before,
#about_us .slick-prev.slick-disabled:before
{
    opacity: 0.25;
}

/* RESULTS */

#results .wp-block-columns.has-background {
    flex-direction: column-reverse;
}

#results .wp-block-columns {
    margin: 0;
}

#results .wp-block-column.is-layout-flow p,
#about_us .user-name p {
    padding: 15px 0 0;
    word-break: keep-all;
}

#results .wp-block-columns.is-layout-flex,
#results .wp-block-group.is-vertical {
    gap: 20px;
}

#results .experience,
#results .reports,
#results .customers,
#results .taxes {
    gap: 10px;
}

#results .wp-block-group.is-vertical.is-layout-flex p {
    padding: 0;
}

.experience, .reports, .customers, .taxes {
    background: var(--white);
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
}

.dark-mode .experience, .dark-mode .reports, .dark-mode .customers, .dark-mode .taxes {
    background: var(--very_dark_grayish_blue);
}

.wp-block-getwid-counter__number,
.wp-block-getwid-progress-bar__percent {
    font-size: 54px;
    font-weight: 600;
}


/* SERVICES */


#services h2 {
    padding-left: 20px;
    padding-bottom: 20px;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper a {
    color: var(--black);
}

.dark-mode #services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper a {
    color: var(--moderate_cyan);
}

#services .wp-block-columns {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 15px 20px;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper {
    margin-top: 15px;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper h4 {
   padding: 15px;
   text-decoration: none;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper,
#services .wp-block-getwid-accordion .wp-block-getwid-accordion__content {
    border: none;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper {
    background: var(--white);
    border-radius: 20px;
    padding: 15px
}

.dark-mode #services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper {
    background: var(--very_dark_grayish_blue);
}

#services .wp-block-getwid-accordion__content {
    padding: 20px;
}

#services .wp-block-getwid-accordion__content li {
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

/* Blog page */

.blog-wrapper {
    padding: 20px;
}

.blog-wrapper .slick-initialized {
    padding-bottom: 42px;
}

.blog-wrapper h1 {
   text-align: center;
}

.blog-content {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 15px;
    margin: 15px 0;
}

.dark-mode .blog-content {
    background: var(--dark_blue);
}

.blog-content p {
    text-indent: 20px;
    font-size: 16px;
}

/* POST SLIDER */

#blog h2,
#contactsInf h2 {
     padding: 0 0 30px 20px;
}


.slider-item, .slider-item.slick-slide {
    background: #F7F7F7;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
}

.dark-mode .slider-item, .dark-mode .slider-item.slick-slide {
    background: var(--dark_blue);
}

.slider-img img {
    width: 100%;
    height: auto;
    border-radius: 20px 0 20px 20px;
    aspect-ratio: 1 / 1;
}

.slider-img {
    position: relative;
}


.slider-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: left;
    padding: 10px 10px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(rgb(0,0,00,0), rgb(30,30,30, 0.56));
}

.slider-title p {
    color: var(--white);
    font-size: 21px;
}

.slider-content {
    padding-top: 10px;
}

.slider-content p {
    font-size: 14px;
}

.excerpt_more {
    color: var(--black);
    font-size: 14px;
}

.dark-mode .excerpt_more {
    color: var(--moderate_cyan);
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    top: auto;
    bottom: 0;
    transform: none;
    width: 42px;
    height: 42px;
    z-index: 1;
}

.slick-arrow.slick-next {
    right: 0;
}

.slick-arrow.slick-prev {
    left: 0;
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
    font-size: 40px;
    opacity: 1;
    color: var(--black);
}

.dark-mode .slick-arrow.slick-next:before,
.dark-mode .slick-arrow.slick-prev:before {
    color: var(--moderate_cyan);
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: 0.25;
}

/* Слайдер */
.slick-slider{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{
    margin: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    margin: 0 -20px;
    padding-bottom: 5px;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide {
    padding-bottom: 50px;
    margin: 0 20px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    bottom: 0;
}
.slick-dots li{
    list-style: none;
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


/*  Google-map */


.dark-map {
    display: none;
}

.dark-mode .dark-map {
    display: block;
}

.dark-mode .google-map {
    display: none;
}

.getwid-poi-info-window {
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.dark-mode .getwid-poi-info-window {
    color: var(--black);
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    padding: 5px;
}

.dark-mode .gm-style .gm-style-iw-c {
    background: var(--moderate_cyan);
    padding: 12px!important;
}

.dark-mode .gm-style .gm-style-iw-tc::after {
    background: var(--moderate_cyan);
}

.dark-mode .gm-style .gm-style-iw-c .gm-style-iw-d {
    overflow: auto!important;
}


    /* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background: var(--black);
}

.footer-container span {
    color: var(--white);
    font-size: 14px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-container .phone-btn {
    background: var(--black);
    width: 195px;
    height: 30px;
}

.footer-container .button-grow {
    color: var(--white);
}

.dark-mode .footer-container .button-grow {
    color: var(--moderate_cyan);
}

.footer-container .social-block {
    padding: 0;
}

/* 404 page */

.error-404 {
    padding: 80px 20px 20px;
}

.accountant-404 h1 {
    text-align: center;
    padding-bottom: 20px;
}

.accountant-404 p {
    text-indent: 30px;
}

.accountant-404 .accountant-404--home {
    padding: 20px 0;
    text-align: center;
    text-indent: 0;
}

.wrapper-author {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 0;
    gap: 30px;
    width: 800px;
    margin: 10px auto;
}

.img-author img {
    border-radius: 50%;
}

.wrap-about-author p {
   padding-top: 10px;
}

.wrap-about-author button {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
}


