/*!* Main style features*!*/

section {
    padding: 25px 0;
    scroll-margin: 85px;
}

h1, h2, h3, h4, h5, h6, span, p, a {
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}


h6, p, a  {
    font-size: 18px;
}

.full-width {
    width: 100%;
}

.container,
section .wp-block-group__inner-container {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp-block-columns {
    margin-bottom: 0;
}

/*HEADER*/

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 99999;
    box-shadow: 0px 4px 10px rgba(177, 157, 130, 0.1);
}

#site-header .container {
    background: #ffffff;
    height: 85px;
}

.site-logo {
    padding-top: 10px;
}

.site-logo  img {
    height: 46px;
    width: 100%;
}

.brand, .social-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
}

.toggle-nav {
    position: absolute;
    right: 20px;
    top: 28px;
    padding: 5px 9px;
    display: block !important;
    color: #E62337;
    transition: color linear 0.15s;
}

body.admin-bar .toggle-nav {
    top: 57px;
}

.toggle-nav span{
    position: absolute;
    background-color: #010101;
    border-radius: 10px;
    right: 0;
    width: 75%;
    height: 2px;
    transition: all 0.3s ease 0s;
}

.toggle-nav__first {
    top: 4px;
}

.toggle-nav__second {
    top: 12px;
}

.toggle-nav::before,
.toggle-nav::after{
    content: '';
    background-color: #010101;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.toggle-nav::before{
    top: 0;
}
.toggle-nav::after{
    bottom: 0;
}
.toggle-nav.open span{
    width: 0;
    transition: width 0s;
}
.toggle-nav.open::before{
    transform: rotate(45deg);
    top: 4px;
}
.toggle-nav.open::after{
    transform: rotate(-45deg);
    bottom: 4px;
}

.toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #E62337;
}

body.admin-bar .nav-block {
    /*top: 110px;*/
}

.nav-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 0;
    top: 70px;
    left: 0;
    text-align: center;
    background: #fff;
    overflow: hidden;
    transition: height 0.5s;
}

.nav-block.open {
    height: 100vh;
}

.menu-menu-container {
    padding-top: 30px;
    padding-left: 20px;
}

.menu-menu-container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: inherit;
    padding: 0;
}

.menu-menu-container li {
    display: block;
    float: none;
    padding: 10px 0;
}

.menu-menu-container a {
    color: #010101;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    white-space: nowrap;
}

.phone-btn {
    display: flex;
    background: #010101;
    width: 230px;
    height: 52px;
    border-radius: 10px;
    margin: 10px auto 0 auto;
}

.phone-btn a {
    color: #ffffff;
    margin: auto;
}

#site-header .social-block {
    padding-top: 30px;
}

.social-block {
    gap: 34px;
    padding: 10px;
}

.social-block a {
    margin: 0;
    line-height: inherit;
}

.header-contacts {
    padding-top: 70px;
}

.footer-container .social-block {
    gap: 14px;
    padding-left: 0;
}


/*CONTENT*/

.site-content {
    padding-top: 66px;
}

.wp-block-group__inner-container .has-background {
    padding: 20px;
    border-radius: 20px;
}

/* FACE */

#face .photo_lg {
    display: none;
}

#face img {
    display: block;
    margin: 0 auto;
}


#face .wp-block-image {
    margin-bottom: 0;
}

#face h4 {
    font-weight: 300;
    line-height: 28px;
    padding-top: 15px;
}

#face .wp-block-columns.has-background {
    gap: 0;
}

/* ABOUT_US */

#about_us  {
    display: none;
}

/* ABOUT_US_MOB */

#about_us_mob .wp-block-getwid-content-slider-slide__wrapper {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 20px;
}

#about_us_mob .slick-list {
    /*margin-bottom: 25px;*/
}

#about_us_mob {
    display: block;
}

#about_us_mob h4 {
    padding: 5px 0 20px;
    font-weight: 400;
}

#about_us_mob p {
    font-weight: 400;
    line-height: 30px;
}

#about_us_mob .slick-dotted.slick-slider {
    /*padding-bottom: 50px;*/
}

#about_us_mob .slick-dots {
    height: 50px;
}

#about_us_mob .slick-next,
#about_us_mob .slick-prev
{
    top: auto;
    bottom: 0;
    transform: none;
    width: 42px;
    height: 42px;
}

#about_us_mob .slick-next {
    right: 35px;
}

#about_us_mob .slick-prev {
    left: 15px;
}

#about_us_mob .slick-next:before,
#about_us_mob .slick-prev:before
{
    font-size: 40px;
    opacity: 1;
}

#about_us_mob .slick-next.slick-disabled:before,
#about_us_mob .slick-prev.slick-disabled:before
{
    opacity: 0.25;
}

/* RESULTS */

#results .wp-block-columns.has-background {
    flex-direction: column-reverse;
}

#results .wp-block-columns {
    margin: 0;
}

#results .wp-block-column.is-layout-flow p {
    padding: 15px 0 0;
}

#results .wp-block-columns.is-layout-flex,
#results .wp-block-group.is-vertical {
    gap: 20px;
}

#results .experience,
#results .reports,
#results .customers,
#results .taxes {
    gap: 10px;
}

#results .wp-block-group.is-vertical.is-layout-flex p {
    padding: 0;
}

.experience, .reports, .customers, .taxes {
    background: white;
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
}

.wp-block-getwid-counter__number,
.wp-block-getwid-progress-bar__percent {
    font-size: 54px;
    font-weight: 600;
}


/* SERVICES */


#services h3 {
    padding-left: 20px;
    padding-bottom: 20px;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper a {
    color: #010101;
}

#services .wp-block-columns {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 15px 20px;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper {
    margin-top: 15px;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper h4 {
   padding: 15px;
   text-decoration: none;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper,
#services .wp-block-getwid-accordion .wp-block-getwid-accordion__content {
    border: none;
}

#services .wp-block-getwid-accordion .wp-block-getwid-accordion__header-wrapper {
    background: #ffffff;
    border-radius: 20px;
    padding: 15px
}

#services .wp-block-getwid-accordion__content {
    padding: 20px;
}

#services .wp-block-getwid-accordion__content li {
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

/* Blog Single-post */

.blog-wrapper {
    padding: 20px;
}

.blog-content {
    padding: 30px 0;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
}

/* POST SLIDER */

#blog h3,
#contactsInf h3 {
     padding: 0 0 30px 20px;
}

.slider-wrapper {

}

.slider-item {
    background: #F7F7F7;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
}

.slider-img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    aspect-ratio: 1 / 1;
}

.slider-title {
    padding: 10px 0;
}

.slider-title p {
    font-size: 21px;
}

.slider-content p {
    font-size: 14px;
}

.excerpt_more {
    color: #010101;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    top: auto;
    bottom: 0;
    transform: none;
    width: 42px;
    height: 42px;
    z-index: 1;
}

.slick-arrow.slick-next {
    right: 20px;
}

.slick-arrow.slick-prev {
    left: 15px;
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
    font-size: 40px;
    opacity: 1;
    color: #010101;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: 0.25;
}

/* Слайдер */
.slick-slider{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{
    margin: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    margin: 0 -27px;

}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide {
    padding-bottom: 50px;
    margin: 0 20px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    bottom: 0;
}
.slick-dots li{
    list-style: none;
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


/* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background: #010101;
}

.footer-inf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.footer-container span {
    color: #ffffff;
    font-size: 10px;
}

.privacy-policy {
    position: relative;
    line-height: 10px;
}

.footer-container .privacy-policy a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}







