
.contacts-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.phone-btn:hover {
    box-shadow: rgba(17, 17, 26, 0.2) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.user-name {
    text-align: center;
}

.face-mob {
    display: none;
}

@media screen and (min-width: 768px) {
    .contacts-wrapper {
        justify-content: left;
    }

    .contacts {
        padding: 0;
    }

    .user-name {
        text-align: left;
    }

    #face .face-mob {
        display: none;
    }
}