
.contacts-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.phone-btn {
    display: block;
    text-align: center;
    background: #010101;
    padding: 8px;
    width: 230px;
    border-radius: 10px;
    margin: 10px auto 0 auto;
}

.phone-btn a {
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .contacts-wrapper {
        flex-direction: row;
    }

    .contacts {
        padding: 0;
    }

    .phone-btn {
        margin: 0 0 0 30px;
    }
}